.test {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

table,
td,
th {
    border: 1px solid black;
}

#table1 {
    border-collapse: separate;
}
.so-am{
    color: red;
}